<h1>Secrets</h1>
<% @secrets.reverse.each do |secret| %>
<div class="row">
	<p> <%= secret.content %></p>
	<p><%= secret.likes.count %> likes</p>
    <% if  !secret.users_liked.include? current_user %>
  
 
  <form action='/likes' method='post' class="col-md-1">
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
    <input type='submit' value='Like' class="btn btn-primary">
  </form>
 <% else %>

  <form action='/likes/<%= secret.find_like current_user %>' method='post' class="col-md-1">
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type="hidden" name="_method" value="delete">
    <input type='submit' value='Unlike' class="btn btn-primary">
  </form>
	 <% end %>
   <% if current_user == secret.user %>
	 <form action='/secrets/<%= secret.id %>' method='post' class="col-md-1">
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Delete' class="btn btn-primary">
    </form>
	  <% end %>
</div>
<% end %>

<!-- (Like.where(user_id: current_user, secret_id: secret.id).ids).pop -->
