<div class="container">
	<h1> Listing Users </h1>

	<table class="table"> 
		<thead>
			<tr>
				<th> First Name </th>
				<th> Last Name </th>
				<th> Email </th>
				<th>  </th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
			<tr> 
				<td> <%= user.first_name %> </td>
				<td> <%= user.last_name %> </td>
				<td> <%= user.email_address %>  </td>
				<td> <%= link_to 'Show', "/users/#{user.id}" %> | <%= link_to 'Edit', "/users/#{user.id}/edit" %> | <%= link_to "Delete", "/users/#{user.id}", method: :destroy,
                                  data: { confirm: "You sure?" } %>    </td>
			</tr>
			<% end %>
		</tbody>

	</table>

	<%= link_to 'New User', '/users/new' %>
</div>