
<div class="">
	<% if flash[:success] %>
  		<div id="success">
  			<p><%= flash[:success] %></p>
		</div>
	<% end %>
</div>	

<div class="submitted-info">
	<h3> Submitted Information </h3>
	<table>
		<tr>
			<td>Name:</td>
			<td><%= @result['name'] %></td>
		<tr>
		<tr>
			<td>Dojo Location:</td>
			<td><%= @result['location'] %></td>
		<tr>
		<tr>
			<td>Favorite Language:</td>
			<td><%= @result['language'] %></td>
		<tr>
		<tr>
			<td>Comment:</td>
			<td><%= @result['comment'] %></td>
		<tr>

	</table>

	<%= link_to 'Go Back', '/' %> 
</div>
